.tableContainer {
    .ant-table-row {
        td {
        padding: 5px !important
    }
}
    .timelineTag {
        border-radius: 11px;
        font-size: 100%;
        text-align: center;
        color: #ffffff;
        width: 100%;
    }
    .dropdownTag {
        color: #323338 !important;
        border-radius: 11px;
        font-size: 100%;
        text-align: center;
        width: 100%;
        margin-bottom: 5px;
    }
}
